.App {
	width: 100vw;
	height: 100vh;
	display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 5% 10% 20% 20% 35%;
	background-color: aquamarine;
}
.header {
  
  grid-area: 1/1/2/6
}

.middle{
  background-color: blueviolet;
	grid-area: 3/2/5/5;
	justify-content: flex-end;
}
.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
