.App {
	width: 100vw;
	height: 100vh;
	display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
	background-color: aquamarine;
}
.whole {
  background-color: white;
  grid-area: 1/2/2/5
}

.middle{
  background-color: blueviolet;
  grid-area: 1/1/4/6;
}
.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	grid-area: 1/2/4/6;
	height: 20vh;
	
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}
2
@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
