
.App{
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns:  1fr;
	grid-template-rows: 10% 2fr 1fr;
	grid-template-areas: 
	"header"
	"middle"
	"footer";
}
@media screen and (min-width: 600px) {
	.App{
		width: 100vw;
		height: 100vh;
		display: grid;
		grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 5% 2fr 1fr;
		grid-template-areas: 
		"header header header header header"
		"leftbar middle middle middle rightbar"
		"footer footer footer footer footer";
	}
	.middle{
		margin: 5%;
		border-radius: 2%;
		background-color: brown;
		grid-area: middle;
	}
}	
/* .App {
	width: 100vw;
	height: 100vh;
	display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 5% 10% 20% 20% 10% 35% ;
	background-color: rgb(64, 150, 248);
	color: black;
} */
.empty {
	background-color: grey;
	grid-area: empty;
}
.leftbar {
  background-color: white;
	grid-area: leftbar;
}
.rightbar {
  background-color: white;
	grid-area: rightbar;
}

.header {
  background-color: blue;
	grid-area: header;
}
.title{
	background-color: orangered;
	grid-area: title;
}
.middle{

	background-color: brown;
	grid-area: middle;
}
.footer{
  background-color: black;
	/* grid-area: 6/1/7/6; */
	grid-area: footer;
}
